{% assign default_avatar_url = site.settings.default_avatar %}
{% unless default_avatar_url  %}
    {% assign default_avatar_url = 'images/avatar.svg' |  asset_url %}
{% endunless %}
{% assign order_by = params._order_by |  default: '-created_at' %}
{% if order_by == 'related' %}
    {% assign pages = site.pages['/'].children_in_list | where: 'related', current_user.member_id %}
{% else %}
    {% assign pages = site.pages['/'].children_in_list | order_by: order_by %}
{% endif %}

<!-- Hero -->
{% render 'hero', page: page %}

<!-- Page content -->
<section>
    <div class="px-4 mx-auto max-w-7xl sm:px-6">
        <div class="md:flex md:justify-between md:divide-x md:divide-slate-300 dark:md:divide-slate-800">
            <!-- Main content -->
            <div class="pt-6 pb-12 md:grow md:pb-20">
                <div class="md:pr-6 lg:pr-10">
                    <!-- List -->
                    <div>
                        <!-- Content header -->
                        <div class="pb-6 mb-4 border-b border-slate-200 dark:border-slate-800">
                            <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                                <div class="order-2 md:order-1 md:ml-6">
                                    {% render 'order_tabs', order_by: order_by %}
                                </div>
                                <div class="order-1 md:order-2 md:mb-0 shrink-0">
                                    <a href="/s/new" class="btn w-full sm:w-auto">{{ 'buttons.create_post' | t }}</a>
                                </div>
                            </div>
                        </div>
                        <!-- pages -->

                        <div class="mb-12">
                            <!-- List container -->
                            <turbo-frame id="pages_list" class="flex flex-col mb-8 space-y-3">
                                {% paginate_tag pages, per: 10 %}
                                    {% for sub_page in pages %}
                                        {% render 'page', page: sub_page %}
                                    {% endfor %}
                                    {% render 'paginate', paginate: paginate %}
                                {% endpaginate_tag %}
                                <!-- Sponsored item -->
                            </turbo-frame>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Sidebar -->
            <aside class="hidden md:block pt-6 pb-12 md:w-64 lg:w-80 md:shrink-0 md:pb-20">
                <div class="md:pl-6 lg:pl-10">

                    <!-- Sidebar content -->
                    <div class="space-y-6">

                        {% render 'search_form' %}
                        {% render 'sidebar_tags' %}
                        {% render 'sidebar_recommend', pages: pages, default_avatar_url: default_avatar_url %}
                        {% assign newest_replies = site.comments | order_by: '-created_at' | limit: 5 %}
                        {% render 'sidebar_newest', items: newest_replies, default_avatar_url: default_avatar_url, type: 'replies' %}
                        {% render 'news_letter' %}

                    </div>

                </div>
            </aside>

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Index",
        "description": "Community Index Page",
        "thumb_url": "images/theme/index.webp",
        "sub_page_templates": ["page"],
        "settings": [
            {
                "id": "description",
                "type": "text",
                "label": "t:settings_schema.generic.settings.description.label",
                "default": "👋 Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever."
            },
            {
                "id": "tags",
                "type": "tag_picker",
                "multiple": true,
                "label": "站点热门标签"
            },
            {
                "id": "text_color",
                "type": "color",
                "label": "Hero 文字颜色"
            },
            {
                "id": "bg_color",
                "label": "Hero 背景色",
                "type": "color_background"
            },
            {
                "id": "illustration_url",
                "type": "image_picker",
                "ratio": "16:9",
                "width": 400,
                "label": "Hero 背景插图（SVG）",
                "info": "虚幻背景SVG格式，参考："
            },
            {
                "id": "hero_url",
                "type": "image_picker",
                "ratio": "4:3",
                "width": 400,
                "label": "Hero Banner 图片（PNG）",
                "info": "PNG 透明背景格式，参考："
            }
        ]
    }
{% endschema %}
